a{
    color: lightgray;
}
a:link{
    color:grey;
    text-decoration: none;
    display: inline-block;
    padding-left: 10px;
    text-align: center;
    margin: 10px;
    text-decoration: underline;
}
a:hover{
    color: green;
    background-color: lightblue;
    font-size: large;
    text-decoration: underline;
    text-align: center;
}
a:active{
    color:blue;
}