

ul{
    list-style-type: none;
    border:2px solid green;
    background-color: lightgoldenrodyellow;
}
ul a{
     display: inline-block;
     color:darkblue;
     margin: 10px;
     text-decoration: underline;
     font-size: 20px;
     border: 2px solid chocolate;
     border-block-start-width: 2px;
     margin-block-start: 5px;
     margin-block-start: 2px;
     
     
}
ul a:hover{
    color: darkcyan;
    background-color: lightblue;
    font-size: large;
}
ul a:active{
    color: goldenrod;
}
table,td,th{
    border:2px solid black;
    
}
th{
    height: 50%;
}
th{
    text-align: unset;
    position: initial;
    vertical-align: 40px;
}
td{
    height: 50px;
    vertical-align: bottom;
    text-align: center;
    padding: 10px;
    margin: 5px;
}